/*style sheet for wk 06*/

* {
    box-sizing: border-box;
}

header{
text-align: center;
background-color: black;
}

/*the entire page*/
.container {
    width: 25%;
    text-align: center;
    float: left;
    border: 1px solid lightgrey;
    margin-left: 65px;
    margin-top: 45px;
}

/*title*/

.panel-body {
    float: right;
	
}

/*search bar*/

.input-group {
    float: right;
}

/*button class*/

#startButton {
    float: right;
}